{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<h2>Lisää uusi ottelu</h2>
<div>
  Jos haluamaasi ottelijaa ei löydy listasta, voit lisätä hänet tietokantaan Lisää ottelija -sivulta.
  Pistevoitto-ottelun pistetaulukko avautuu muiden tietojen tallennuksen jälkeen.
</div>
</br>

<form method="POST" action="{{ url_for('matches_create') }}">
  <div class=form-group">
    <div class="col-sm-4"></div>
      <div class="form-group">
        {{ wtf.form_field(form.date, class="form-control") }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form.place, class="form-control") }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form.fighter1, class="form-control") }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form.fighter2, class="form-control") }}
      </div>
      <div class="form-group">
        Voittanut ottelija {{ wtf.form_field(form.winner, class="form-control") }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form.winning_category, class="form-control") }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(form.comment, class="form-control") }}
      </div>
      <div>
        <input type="submit" value="Luo ottelu" />
      </div>
    </div>
  </div>
  <b>{{ wtf.form_errors(form) }}</b>
  <b>{{ error }}</b>
  {% endblock %}