{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('matches_create') }}">
  <table>
    <div>
      Jos haluamaasi ottelijaa ei löydy listasta, voit lisätä hänet tietokantaan Lisää ottelija -sivulta.
    </div>
    <tr>
      <td>
        {{ form.date.label }}
      </td>
      <td>
        {{ form.date }}
      </td>
      <td>
        <ul>
          {% for error in form.date.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.place.label }}
      </td>
      <td>
        {{ form.place }}
      </td>
      <td>
        <ul>
          {% for error in form.place.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.fighter1.label }}
      </td>
      <td>
        {{ form.fighter1 }}
      </td>
      <td>
        <ul>
          {% for error in form.fighter1.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.fighter2.label }}
      </td>
      <td>
        {{ form.fighter2 }}
      </td>
      <td>
        <ul>
          {% for error in form.fighter2.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.winner.label }}
      </td>
      <td>
        {{ form.winner }}
      </td>
      <td>
        <ul>
          {% for error in form.winner.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.winning_category.label }}
      </td>
      <td>
        {{ form.winning_category }}
      </td>
      <td>
        <ul>
          {% for error in form.winning_category.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.comment.label }}
      </td>
      <td>
        {{ form.comment }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Luo ottelu"/>
      </td>
    </tr>  
</form>
<b>{{ error }}</b>
{% endblock %}