{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<div>
  <b>Muokkaa pisteitä</b>
</div>
</br>
<form method="POST"
  action="{{ url_for('edit_points', match_id=match_id, fighter1=fighter1, old1=old1, old2=old2, fighter2=fighter2) }}">
  <div class=form-group">
    <div>
      <b>Ottelijan {{ fighter1 }}</b> pisteet olivat {{ old1 }}
    </div>
    <div class="row">
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter1_points, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter1_penalties, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter1_advantages, class="form-control") }}
      </div>
    </div>
    <div>
      <b>Ottelijan {{ fighter2 }} </b>pisteet olivat {{ old2 }}
    </div>
    <div class="row">
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter2_points, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter2_penalties, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter2_advantages, class="form-control") }}
      </div>
    </div>
    <div>
      <input type="submit" value="Tallenna pisteet" />
    </div>
  </div>
  </div>
  <b>{{ error }}</b>
  {% endblock %}