{% extends "layout.html" %}
  
{% block body %}
<div>
  <b>Lisää vielä ottelun lopulliset pisteet, myös nollat</b>
</div>
</br>
<form method="POST" action="{{ url_for('add_points', match_id=match_id, fighter1_id=fighter1_id, fighter2_id=fighter2_id) }}">
  <table>
    <tr>
      <td>
        <b>{{ fighter1 }} </b>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.fighter1_points.label }}
      </td>
      <td>
        {{ form.fighter1_points }}
      </td>
      <td>
        <ul>
          {% for error in form.fighter1_points.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.fighter1_penalties.label }}
      </td>
      <td>
        {{ form.fighter1_penalties }}
      </td>
      <td>
        <ul>
          {% for error in form.fighter1_penalties.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.fighter1_advantages.label }}
      </td>
      <td>
        {{ form.fighter1_advantages}}
      </td>
      <td>
        <ul>
          {% for error in form.fighter1_advantages.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr><td> </br></td></tr>
    <tr>
        <td>
          <b>{{ fighter2 }} </b>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.fighter2_points.label }}
        </td>
        <td>
          {{ form.fighter2_points }}
        </td>
        <td>
          <ul>
            {% for error in form.fighter2_points.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.fighter2_penalties.label }}
        </td>
        <td>
          {{ form.fighter2_penalties }}
        </td>
        <td>
          <ul>
            {% for error in form.fighter2_penalties.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          {{ form.fighter2_advantages.label }}
        </td>
        <td>
          {{ form.fighter2_advantages}}
        </td>
        <td>
          <ul>
            {% for error in form.fighter2_advantages.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Tallenna pisteet"/>
      </td>
    </tr>  
</form>
<b>{{ error }}</b>
{% endblock %}