{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
<div>
  <h4>Lisää vielä ottelun lopulliset pisteet, myös nollat</h4>
</div>
</br>
<form method="POST"
  action="{{ url_for('add_points', match_id=match_id, fighter1_id=fighter1_id, fighter2_id=fighter2_id) }}">
  <div class=form-group">
    <div>
      <b>{{ fighter1 }} </b>
    </div>
    <div class="row">
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter1_points, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter1_penalties, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter1_advantages, class="form-control") }}
      </div>
    </div>
    <div>
      <b>{{ fighter2 }} </b>
    </div>
    <div class="row">
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter2_points, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter2_penalties, class="form-control") }}
      </div>
      <div class="col-sm-2">
        {{ wtf.form_field(form.fighter2_advantages, class="form-control") }}
      </div>
    </div>
    <div>
      <input type="submit" value="Tallenna pisteet" />
    </div>

  </div>
  </div>
  <b>{{ wtf.form_errors(form) }}</b>
  <b>{{ error }}</b>
  {% endblock %}