{% extends "layout.html" %}

{% block body %}
    <form method="GET" action="{{ url_for('fighters_index') }}">
            <input type="submit" value="Takaisin"/>
    </form>
    <h2>{{fighter.name}}</h2>
    <table>
        <tr>
            <td><b>Syntymävuosi</b></td>
            <td>{{fighter.born}}</td> 
        </tr>
        <tr>
            <td><b>Vyöarvo</b></td>
            <td>{{fighter.belt}}</td> 
        </tr>
        <tr>
            <td><b>Paino</b></td>
            <td>{{fighter.weight}}</td> 
        </tr>
        <tr>
            <td><b>Kotiseura</b></td>
            <td>{{fighter.club}}</td> 
        </tr>
        <tr>
            <td><b>Otteluita</b></td>
            <td>{{history[0]}}</td> 
        </tr>
        <tr>
            <td><b>Voittoja</b></td>
            <td>{{history[1]}}</td> 
        </tr>       
    </table>
    {% if current_user.is_authenticated %}
    <form method="GET" action="{{ url_for('fighters_editform', fighter_id=fighter.id) }}">
        <input type="submit" value="Muokkaa tietoja"/>
  </form>
    <form method="DELETE" action="{{ url_for('remove_fighter', fighter_id=fighter.id) }}">
          <input type="submit" value="Poista ottelija"/>
    </form>
    {% endif %}
     
{% endblock %}