{% extends "layout.html" %}


{% block body %}
<h2>Ottelijat</h2>
</br>
<form method="GET" action="{{ url_for('fighters_search') }}">
  <table>
    <tr>
      <td>
        {{ form.searchword.label}}
      </td>
      <td>
        {{ form.searchword }}
      </td>
      <td>
        <input type="submit" value="Hae"/>
      </td>
      <td>
        <ul>
          {% for error in form.searchword.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </table>
</form>
<form method="GET" action="{{ url_for('fighters_index') }}">
  <input type="submit" value="Nollaa"/>
</form>



</br>
  <table>
    <tr>
      <th>Nimi</th>
      <th>Vyöarvo</th>
      <th>Kotiseura</th>   
    </tr>
    {% for fighter in fighters %}
    <tr>
      <td>{{ fighter.name }}</td>
      <td>{{ fighter.belt }}</td>
      <td>{{ fighter.club }}</td>  
      <td>
        <form method="GET" action="{{ url_for('fighter_info', fighter_id=fighter.id) }}">
            <input type="submit" value="Profiili"/>
        </form>
      </td>    
    </tr>
    {% endfor %}
  </table>
{% endblock %}