{% extends "layout.html" %}

  
{% block body %}
<h2>Lisää uusi ottelija</h2>
</br>
<form method="POST" action="{{url_for('fighters_create')}}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.born.label }}
      </td>
      <td>
        {{ form.born }}
      </td>
      <td>
        <ul>
          {% for error in form.born.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.belt.label }}
      </td>
      <td>
        {{ form.belt }}
      </td>
      <td>
        <ul>
          {% for error in form.belt.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.club.label }}
      </td>
      <td>
        {{ form.club }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.weight.label }}
      </td>
      <td>
        {{ form.weight}}
      </td>
      <td>
        <ul>
          {% for error in form.weight.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
         
      </td>
      <td>Jos paino ei ole tiedossa, merkitse 0.</td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Lisää ottelija"/>
      </td>
    </tr>  
</form> 
  
{% endblock %}