{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block body %}
<h2>Rekisteröityminen</h2>
<b>Tämä palvelu on käytössä vain ylläpidolle</b>
<form method="POST" action="{{ url_for('auth_register') }}">
  <div class="col-sm-3">
    <div class="form-group">
      {{ wtf.form_field(form.name, class="form-control") }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.username, class="form-control") }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.password, class="form-control") }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.confirm, class="form-control") }}
    </div>
    <div class="form-group">
      {{ wtf.form_field(form.registrationkey, class="form-control") }}
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-outline-primary btn-sm" value="Rekisteröidy"/>
    </div>
  </div>
</form>
<b>{{ wtf.form_errors(form) }}</b>
<p>{{ error }}</p>
{% endblock %}